.posts-wrapper.masonry-container.boxy.transitions-enabled.infinite-scroll
.col-xs-12.row.clearfix
  -@posts.each do |post|
    .post.col-xs-4.boxy.transitions-enabled.clearfix
      .post-head
        .name
          Boss Shauna
      .image.center-block
        =link_to (image_tag post.image.url(:medium), class:'img-responsive'), post_path(post)
      %p.caption
        =post.caption
       