%div#show-container
.posts-wrapper
  %div#no-animation.post
    .post-head
    %p.caption
      =@post.caption
    .image.center-block
      =image_tag @post.image.url(:medium)
    %p.story
      =@post.story
      %p.name
      Boss Shauna  
    %div.text-center.edit-links
  = link_to "Edit Post", edit_post_path(@post)
  |
  = link_to "Delete Post", post_path(@post), method: :delete
  |
  = link_to "Cancel", posts_path