<html>
<head>
	
</head>
<body>
<link href="/stylesheets/about.scss" rel="stylesheet">
<img src="http://i.imgur.com/qH5MIs0.png" title="Scribo Logo" />

<p>Scribo is a no judgement community of writers that come together to get inspired, share stories, interect with each other and get feedback on stories. </p>

<h1>The Woman Behind Scribo</h1>
<img src="http://i.imgur.com/1NoKzpb.jpg" title="Boss Shauna" />
<p>Shauna Walker is a web developer based in NYC. Outside of web developing she has hobbies including writing, drawing, photography, graphic design, music and film making, etc. Writing has always been a passion of hers which lead to the development of this app. This app was developed using Ruby on Rails in one week.</p>

</body>
</html>
