/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require about
 *= require 'masonry/basic'
 *= require 'masonry/centered'
 *= require 'masonry/fluid'
 *= require 'masonry/gutters'
 *= require 'masonry/infinitescroll'
 *= require 'masonry/right-to-left'
 *= require 'masonry/transitions'
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";



body {  
  background-image: url(http://i.imgur.com/mrW9FkW.jpg);
  font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  margin: 0 auto;
  font-family: 'PT Serif', serif;
  font-weight: bolder;
}

.navbar-brand {
  a {
    color: #3a95d0;
    font-size: 28px;
    font-weight: bolder;
    font-family: 'Abril Fatface', cursive !important;
  }
}

.navbar-brand:hover {
  a {
    color:  white;
    text-decoration: none;
  }
}

.navbar-default {
     padding-left: 14%;
    padding-right: 14%;
    margin-right: -34% !important;
  background-color: rgba(0,0,0,0.54) !important;
  height: 54px;
  .navbar-nav li a {
    color: #3a95d0;
    font-size: 28px;
    font-weight: bolder;
    font-family: 'Abril Fatface', cursive !important;
  }
}

.navbar-default:hover {
  background-color: black;
  height: 54px;
  .navbar-nav li a:hover {
  color: white;
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  }
}
.navbar-container {
  width: 640px;
  margin: 0 auto;
}

.navbar-default img {
  height: 54px !important;
  float: left !important;
  margin-left: -74% !important;
}

.navbar-default img:hover {
  -webkit-animation-name: hvr-wobble-bottom;
  animation-name: hvr-wobble-bottom;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.container {
  margin-top: 6% !important;  
}

#wrapper {
  float: right;

}

.posts-wrapper {
  width: auto;
  margin: 0 auto;
  justify-content: space-around !important;
  flex-direction: column;
  vertical-align: top !important;
  align-content: stretch !important;
  float: left;
  margin-right: 4% !important; 
  margin-left: 2% !important;
}

.post {
  background-color: #fefefe;
  max-width: 340px !important;
  border-radius: 4px;
  -webkit-animation: flip .8s ease-in-out forwards;
  animation: flip .8s ease-in-out forwards;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.post:hover {
  --webkit-box-shadow: 1px 0px 8px 6px rgba(0,0,0,0.55);
  -moz-box-shadow: 1px 0px 8px 6px rgba(0,0,0,0.55);
  box-shadow: 1px 0px 8px 6px rgba(0,0,0,0.55);
  background-image: none;
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

#no-animation {
  background-color: white !important;
  width: 100% auto !important;
}


#no-animation:hover {
  animation: none !important;
  box-shadow: none !important;
}

#no-animation .caption {
  margin-right: 0% !important;
  background-color: white !important;
  color: slateblue !important;
}

#no-animation .name {
 background-color: white !important;
 color: skyblue !important;
 margin-top: 4%;
}

#no-animation .image {
  overflow: scroll !important;
}

#show-container {
  height: 560px !important;
  background-color: white !important;
  position: absolute;
  bottom: 4%;
  width: 1154px !important;
  z-index: -4 !important;
}

.image {
  border-bottom: 1px solid #eeefef;
  border-top: 1px solid #eeefef;
  min-width: 340px;
  max-height: 460px;
  margin-left: -2.4%;
  margin-top: -3%;
}

.caption {
  margin-left: -2.4% !important;
  margin-right: -2.4% !important;
  padding: 4% !important;
  font-size: 14px;
  background-color: black;
  width: auto;
  color: white;
  text-align: center;
  font-family: Arial !important;
}

.name {
  width: auto;
  color: #3a95d0;
  font-weight: bolder;
  margin-bottom: -4%;
  font-family: Arial !important;
}

.story {
line-height: 24px;
width: 784px;	
font-size: 18px;
position: absolute;
bottom: 4%;
left: 34%;
height: 500px;
overflow: scroll !important;
width: auto 100%;
background-color: white;
}

#post-wrap{
  height: auto 100%;
  animation: none !important;
}

.form-wrapper {
  width: 60%;
  margin: 20px auto;
  background-color: #fff;
  padding: 40px;
  border: 1px solid #eeefef;
  border-radius: 3px;
}

.edit-links {
  margin-top: 20px;
  margin-bottom: 40px;
  position: absolute;
  bottom: 0;
}

/* Pulse Grow */
@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.hvr-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


.boxy {
  margin: 14px;
  padding: 8px;
  width: auto;
  font-size: 11px;
  line-height: 1.4em;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.boxy h2 {
  font-size: 14px;
  font-weight: 200;
}

.boxy img {
  display: inline;
  width: auto;
}

@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-name: flipInX;
}

@keyframes flipOutX {
  from {
    transform: perspective(400px);
  }

  30% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }

  to {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
}

.flipOutX {
  animation-name: flipOutX;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
}

/* Wobble Bottom */
@-webkit-keyframes hvr-wobble-bottom {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
@keyframes hvr-wobble-bottom {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
.hvr-wobble-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
.hvr-wobble-bottom:hover, .hvr-wobble-bottom:focus, .hvr-wobble-bottom:active {
  -webkit-animation-name: hvr-wobble-bottom;
  animation-name: hvr-wobble-bottom;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}




